{{#if isAuthenticated}}
  {{#burger-menu animation="push-rotate" as |burger|}}
    {{#burger.menu dismissOnItemClick=true itemTagName="li" as |menu|}}
      <div class="burger-menu__list">
      </div>
      <ul>
        {{#menu.item}}
          {{link-to "Home" "home"}}
        {{/menu.item}}

        {{#menu.item}}
          {{link-to "Employees" "employees"}}
        {{/menu.item}}

        {{#menu.item}}
          {{link-to "Admin Employees" "admin"}}
        {{/menu.item}}

        {{#menu.item}}
          {{link-to "Create Employees" "admin.employees"}}
        {{/menu.item}}
      </ul>
    {{/burger.menu}}

    {{#burger.outlet}}
      <header class="burger-menu">
        <div class="burger-menu__menu">
          <button class="burger-menu__button burger-menu__open-icon" {{action burger.state.actions.toggle}}></button>
        </div>
        <div class="burger-menu__logo">
          <img class="burger-menu__logo-image" src="/assets/images/fourth-logo.png" alt="Fourth">
        </div>
        <div class="burger-menu__notifications">
          {{nav-notification notificationAction=(route-action "visitRoute")}}
        </div>
      </header>
      <main>
        {{outlet}}
      </main>
    {{/burger.outlet}}
  {{/burger-menu}}
{{else}}
  {{outlet}}
{{/if}}

{{notification-container}}

{{spinner-container}}
