<p class="employee-card__text">{{model.employee._id}}</p>
<p class="employee-card__text">{{model.employee.firstName}}</p>
<p class="employee-card__text">{{model.employee.lastName}}</p>
<p class="employee-card__text">{{model.employee.createdAt}}</p>
<p class="employee-card__text">{{model.employee.updatedAt}}</p>
<p class="employee-card__text">{{model.employee.isStarter}}</p>
<p class="employee-card__text">{{model.employee.periodInCompany}}</p>
<p class="employee-card__text">{{model.employee.birthday}}</p>
<p class="employee-card__text">{{model.employee.isBirthday}}</p>
<p class="employee-card__text">{{model.employee.hasBirthday}}</p>

<div class="employee-details">
  {{employee-data employee=model.employee property="position"}}
  {{employee-data employee=model.employee property="team"}}
  {{employee-data employee=model.employee property="education"}}
  {{employee-data employee=model.employee property="expertise"}}
  {{employee-data employee=model.employee property="skills"}}
  {{employee-data employee=model.employee property="languages"}}
  {{employee-data employee=model.employee property="hobbies"}}
  {{employee-data employee=model.employee property="song"}}
  {{employee-data employee=model.employee property="book"}}
  {{employee-data employee=model.employee property="pet"}}
  {{employee-data employee=model.employee property="thought"}}
  {{employee-data employee=model.employee property="skype"}}
</div>