{{employee-avatar employee=employee}}
<div class="employee-card__title">
  <p class="employee-card__text">{{employee.firstName}}</p>
  <p class="employee-card__text">{{employee.lastName}}</p>
</div>
<div class="employee-card__content">
  <p class="employee-card__text employee-position">Senior Survey Programmer</p>
  <p class="employee-card__text">Data Processing</p>
  <p class="employee-card__text">in company from: {{employee.periodInCompany}}</p>
  <p class="employee-card__text employee-thought"></p>
</div>
<div class="employee-card__actions">
  {{button-component btnAction=(action "visitEmployee" employee) btnText="Visit" isVisit=true}}
</div>