{{#file-upload name=photoName accept="image/*" onfileadd=(action "uploadPhoto" photoName)}}
  {{#if (get data photoName)}}
    <img src={{get data photoName}} alt={{photoName}} class="image-upload__image-to-upload">
    <a id="upload-photo" class="image-upload__btn">{{updateButton}}</a>
  {{else}}
    <a id="upload-photo" class="image-upload__btn">{{attachButton}}</a>
  {{/if}}
{{/file-upload}}
