<span class="nav-notification__notification"></span>
<div class="nav-notification__overlay">
  <span class="nav-notification__counter">{{models.length}}</span>
  {{#if models.length}}
    {{#attach-popover class="nav-notification__popper"
                      animation="none"
                      hideOn='clickout'
                      isShown=false
                      showOn='click'}}
      {{#each models as |model|}}
        {{!-- {{#if model.hasBirthday}} --}}
          <div class="nav-notification__attacher" onClick={{action 'navigateToRoute' navToRoute model}}>
            <img class="nav-notification__attacher-photo" src="{{model.image}}" alt="{{model.firstName}} {{model.lastName}}">
            <div class="nav-notification__attacher-text">
              <span class="nav-notification__attacher-text-name">{{model.firstName}} {{model.lastName}}</span><br>
            </div>
          </div>
        {{!-- {{/if}} --}}
      {{/each}}
    {{/attach-popover}}
  {{/if}}
</div>
